<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terry Zhao's Portfolio Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://icons8.com/icon/86958/resume">
    <link href="https://icons8.com/icon/kFJzAZryEscq/linkedin-circled">
    <link href="https://icons8.com/icon/106567/github">
    <link href="https://icons8.com/icon/bqI4gOgp4z1f/email-open">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">Terry Zhao</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="#home" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">About</a>
                </li>
                <li class="navbar__item">
                    <a href="#projects" class="navbar__links" id="projects-page">Projects</a>
                </li>
                <li class="navbar__item">
                    <a href="#experience" class="navbar__links" id="experience-page">Experience</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="welcome" id="home">
        <!--<div class="welcome__container"></div>-->
        <div class="welcome__content">
            <h1>WELCOME</h1>
            <p>Learn More About Me Below</p>
        </div>
            
            <!--<div class="welcome__img--container">
                <img src="{% static '/images/UConn.jpg' %}"
                alt="UConn" id="welcome__img" />
            </div>!-->
    </div>
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Terry Zhao</span>
            </h1>
            <h1 class="hide">
                <span class="text">Portfolio</span>
            </h1>
            <h1 class="hide">
                <span class="text">Website</span>
            </h1>
        </div>
    </div>
    <div class="slider"></div>
    <div class="background">
        <div class="about" id="about">
            <div class="about__container">
                <h1>About Me</h1>
                <img src="{% static '/images/Google.bmp' %}" alt="Google" id="Google">
                <p>Hello, I'm Terry Zhao and I am a junior majoring in Electrical and Computer Engineering at the University of Connecticut.
                    I have an interest in full-stack development having done front-end and back-end work in internships and projects.
                </p>
                <div class="info__container">
                    <a href="https://www.linkedin.com/in/terry-zhao-1a68b418a" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin-circled--v3.png"/></a> 
                    <a href="https://github.com/Tzhao7" target="_blank"><img src="https://img.icons8.com/material-rounded/48/000000/github.png"/></a>
                    <a href="mailto: terry.zhao@uconn.edu" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/email-open.png"/></a> 
                    <img src="https://img.icons8.com/material/48/000000/resume--v1.png"/>
                </div>
            </div>
        </div>
        <div class="projects" id="projects">
            <h1>Projects</h1>
            <div class="projects__container">
                <div class="img__container" id="card1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <img src="{% static '/images/Spoonacular.bmp' %}" alt="Spoonacular" class="Spoonacular">
                    <div class="description">
                        <h2>Recipe App</h2>
                        <button data-modal-target="#modal_3">Learn More</button>
                    </div>
                </div>
                <div class="img__container" id="card2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <img src="{% static '/images/Game.bmp' %}" alt="Game" class="Game">
                    <div class="description">
                        <h2>Adventure Game</h2>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal_3">
                <h2>Spoonacular Recipe App</h2>
                <button data-close-button class="modal__close">&times;</button>
            </div>
        </div>
        <div class="experience" id="experience">
            <h1>Experience</h1>
            <div class="experience__wrapper">
                <div class = "experience__column">
                    <h1>Internships</h1>
                    <div class="img__container" id="card3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <img src="{% static '/images/ElectricBoat.bmp' %}" alt="Electric Boat">
                        <div class="description">
                            <h2>Electric Boat</h2>
                            <p>Summer 2019</p>
                            <p>Summer 2020</p>
                            <button data-modal-target="#modal_1">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="experience__column">
                    <h1>Research</h1>
                    <div class="img__container" id="card4">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <img src="{% static '/images/UConnEng.bmp' %}" alt="Uconn Engineering">
                        <div class="description">
                            <h2>UConn Undergraduate Research</h2>
                            <p>2020 Spring Semester</p>
                            <p>2020 Fall Semester</p>
                            <button data-modal-target="#modal_2">Learn More</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal_1">
                <h2>Electric Boat Internship Experience</h2>
                <p>During my two summers interning at Electric Boat, I have gained considerable amounts of 
                    hands-on experience in software engineering applications. Unfortunately there is no physical code to show
                    of this work because of the security regarding Electric Boat.
                </p>
                <button data-close-button class="modal__close">&times;</button>
            </div>
            <div class="modal" id="modal_2">
                <h2>UConn Research Experience</h2>
                <button data-close-button class="modal__close">&times;</button>
            </div>
        </div>
        <div id="overlay"></div>
                <!--<div class="research">
                    <h1>Research</h1>
                    <img src="{% static '/images/UConnEng.bmp' %}" alt="Uconn Engineering">
                    <div class="description">
                        <h2>UConn Undergraduate Research</h2>
                        <p>2020 Spring Semester</p>
                        <p>2020 Fall Semester</p>
                        <a href="/" class="click">Learn More</a>
                    </div>
                </div>-->
            <!-- <div class="dropdown">
                <button class="drop__btn" onclick="dropDownMenu()">Internships<i class="fas fa-caret-down"></i></button>
                <div class="dropdown__content" id="myDropDown">
                    <a href="/" class="internship__1">Electric Boat</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="drop__btn" onclick="dropDownMenu()">Research<i class="fas fa-caret-down"></i></button>
                <div class="dropdown__content" id="myDropDown">
                    <a href="/" class="research__1">UConn</a>
                </div>
            </div>
        </div> -->
        <!-- Footer Section-->
        <div class="footer__container" id="contact">
           <div class="footer__links">
               <div class="footer__link--wrapper">
                   <div class="footer__link--items">
                       <h2>Contact Me</h2>
                       <a href="https://www.linkedin.com/in/terry-zhao-1a68b418a" target="_blank"> LinkedIn <i class="fab fa-linkedin"></i></a> 
                       <a href="https://github.com/Tzhao7" target="_blank"> GitHub <i class="fab fa-github"></i></a>
                       <a href="mailto: terry.zhao@uconn.edu" target="_blank"> Email <i class="fas fa-envelope-square"></i></a> 
                   </div>
               </div>
           </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
    crossorigin="anonymous"></script>
    <script src="{% static '/app.js' %}"></script>
</body>
</html>